body {
  background-color:white;
}

.navbar-static-top {
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#name_label {
	font-size: 30px;
}

table {
	border-spacing: 5px 5px;
	padding: none;
	text-transform: uppercase;
}
